.header {
  position: relative;
  z-index: 1;
  padding: 10px 0;
  background: rgba($white, 0.67);
  box-shadow:
    inset 0 12px 24px 0 rgba(#000, 0.12),
    0 4px 24px 0 rgba(#000, 0.12);

  @include media('>=tablet') {
    padding: 7px 0 23px;
  }

  &__container {
    display: flex;

    @include media('>=desktop') {
      max-width: 855px;
    }
  }

  &__content {
    flex: 1 1 auto;
    padding: 10px 0 0 30px;

    @include media('>=phone') {
      padding: 10px 0 0 50px;
    }

    @include media('>=tablet') {
      padding: 28px 0 0 85px;
    }
  }

  &__head {
    margin-bottom: 16px;
    gap: 13px;
    flex-wrap: wrap;
    align-items: flex-start;
    display: flex;
  }

  &__title {
    line-height: 1;
    margin-bottom: 0;
  }

  &__start-date {
    font-size: 13px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid $blue;
    padding: 6px 11px;
    color: $blue;
  }

  &__stats {
    @extend %listreset;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    gap: 10px;
    padding: 0 3px;
    margin-bottom: 18px;

    @include media('>=tablet') {
      gap: 28px;
    }
  }

  &__stat-value {
    font-weight: $font-weight-bold;
  }

  &__logo {
    width: 80px;
    min-width: 80px;

    @include media('>=tablet') {
      min-width: 138px;
      width: 138px;
    }

    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
}
