.view-toggle {
  display: flex;
  gap: 17px;
  padding: 0 8px 21px;
  justify-content: flex-end;

  &__btn {
    background: none;
    border: 0;
    padding: 0;
    width: 24px;
    height: 24px;
    cursor: pointer;

    svg {
      display: block;
      max-width: 100%;
    }

    &:hover,
    &.active {
      rect {
        fill: #c8c7c7;
      }
    }

    rect {
      fill: $blue;
      transition: fill 0.3s ease;
    }
  }
}
