// stylelint-disable selector-no-qualifying-type, selector-max-compound-selectors

// -----------------------------------------------------------------------------
// This file contains all styles related to the form elements of the site
// -----------------------------------------------------------------------------

input[type='text'],
input[type='email'],
input[type='tel'],
textarea {
  @include transition(border-color);
  border: 1px solid #dedede;
  background-color: transparent;
  width: 100%;
  height: 28px;
  min-width: 162px;
  padding: 5px 7px;
  border-radius: 4px;
  color: #636264;
  font-size: 13px;
  line-height: 1;
  -webkit-appearance: none;

  &:focus,
  &:hover {
    box-shadow: none;
    outline: none;
  }
}
