// reset default list styles
%listreset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  color: #000;
  overflow: visible;
  position: absolute;
  left: 0;
  white-space: inherit;
  width: auto;
}
