// -----------------------------------------------------------------------------
// This file contains typography styles.
// -----------------------------------------------------------------------------

/*
  Basic typography style for copy text
*/
body {
  @include font-smoothing;
  color: $body-color;
  font-family: $font-family-base;
  font-size: map-get($font-sizes, 'base');
  line-height: $line-height-base;
  font-weight: $font-weight-normal;
}

/*
  Basic styles for links
*/
a {
  @include transition(color);
  color: $link-color;
  text-decoration: $link-decoration;

  &:hover {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

ul,
ol,
dl,
p {
  margin: 0 0 $paragraph-margin-bottom;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0 0 $headings-margin-bottom;
  font-weight: $font-weight-medium;
  line-height: $headings-line-height;
}

h1,
.h1 {
  font-size: map-get($headings-sizes, 'h1');
}

h2,
.h2 {
  font-size: map-get($headings-sizes, 'h2');
}

h3,
.h3 {
  font-size: map-get($headings-sizes, 'h3');
}

h4,
.h4 {
  font-size: map-get($headings-sizes, 'h4');
}

h5,
.h5 {
  font-size: map-get($headings-sizes, 'h5');
}

h6,
.h6 {
  font-size: map-get($headings-sizes, 'h6');
}
